/* your code here */
.content{
    background-color: black;
}
.link-boxes a{
    color: gray;
}
.bottom-details{
    color: gray;
}
hr{
    height: 3px;
    border: none;
    background-color: white;
    color: white;
}