footer{
   
    background-color: black;
    color: white;
}


/* Icons */

.fb{
    background-color: #374da3;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

}
.tw {
    background-color: #1897ba;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

}
.in{
    background-color: #ba186f;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

}
.ln{
    background-color: #0b4e8c;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

}
.yo{
    background-color: #d14030;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

}
.link-boxes a{
    color: gray;
}
